
@media screen and (min-width:720px){
    .container {max-width: 712px;}
}
@media screen and (min-width:992px){
    .container {max-width: 984px;}
    header .logo{width: 142px;}
    header form{width: calc(100% - 142px - 300px);}
}
@media screen and (min-width:1280px){
    .container {max-width: 1258px;}
    .product-grid{grid-template-columns: 1fr 1fr 1fr 1fr 1fr;}
}

@media screen and (max-width: 991px){
    .shop-coses .single-cose i{height: 40px;width: 40px;margin: 8px;}
    .shop-coses .single-cose i::before{font-size: 16px;}
    header .language, header .login{display: none;}
    header .left-side {width: 90px;justify-content: end;}
    .desktop-menu{display: none;}
    .header-space{height: 95px;}

    footer .top-footer .footer-row {width: 33.333%;}
    header .top-header .toggle-menu{display: block;}
    .product-grid{grid-template-columns: 1fr 1fr 1fr;}
}

@media screen and (max-width: 769px){
    .checkout-payment{min-height: inherit;}
    .home-slide.owl-carousel .owl-item img{height: 330px;width: auto;max-width: initial;}
    .categories .single-categories {margin-bottom: 15px;}
    footer .top-footer .footer-row {width: 50%;}
    .categories .single-categories img{max-height: 130%;}
    .page-log{padding: 25px 15px;}
    .page-log .form-container{padding: 30px 25px;}
    .cart-list{padding: 0 15px;}
    .contact-form .wrap{background-color: #fff;padding: 50px 25px;}

    .category-filter{display: none;}
    .close-filter{display: flex;padding: 10px;}
    .category-filter .wrap{overflow: hidden;overflow-y: auto;height: 100vh;position: fixed;top: 0;right: 0;left: 0;bottom: 0;z-index: 9999;background-color: #fff;}
    .category-filter .wrap form{padding: 44px 0px 80px;}
    .category-filter .single-filter .filter-content{display: none;}
    .filter-buttons{position: fixed;right: 0;left: 0;bottom: 0;z-index: 1;background-color: #fff;}
    .sort-data{justify-content: space-between;}
    .sort-data label{display: block;margin: 0 0 3px;}
    .sort-data .form-sort, .sort-data .open-filter{width: calc(50% - 7.5px);}
    .sort-data .form-sort select{width: 100%;}
}

@media screen and (max-width: 581px){
    .home-slide.owl-carousel .owl-item img{height: 220px;width: auto;max-width: initial;}
    footer .top-footer .footer-row {width: 100%;}
    header .top-header{padding-bottom: 70px;position: relative;}
    header form{position: absolute;bottom: 15px;width: 100%;padding: 0;}
    .header-space {height: 150px;}
    header .logo{padding: 0;}
    header .logo img{margin: auto;display: block;}
    header .left-side {width: 30px;}
    footer .top-footer .footer-row img{margin: 0 0 15px;}
    footer .top-footer .footer-row .social-media{margin: 0;}
    .cart-list .single-cart{flex-direction: column;}
    .cart-list .single-cart .cart-info{width: calc(100% - 80px);padding-right: 15px;}
    .cart-list .single-cart .cart-data-single{width: 100%;}
    .cart-list .single-cart .cart-others{padding-right: 0;text-align: right;margin-top: 15px;}
    .cart-list .single-cart .cart-others .custom-qty{float: right;}
    .cart-list .single-cart .cart-others{width: 100%;display: flex;align-items: center;justify-content: space-between;}
    .cart-list .single-cart .cart-others .qty{margin-top: 0;}
    .cart-list .continue-shipping{font-size: 12px;padding: 10px;}
    .profile-data .wrap .empty{font-size: 18px;}
    .profile-data .wrap .empty i{font-size: 40px;margin-bottom: 15px;}
    .product-grid{grid-template-columns: 1fr 1fr;}
}